
.modal-content {
    background-color: #fefefe;
    margin: 1vh 1vh 1vh 1vh;
    padding: 5px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content p {
text-align: center;
}

@media (max-width: 1000px) {
    .modal-content {
      max-width: 100%; /* 모바일 화면을 위해 최대 너비 조정 */
      margin: 10px; /* 모바일 화면에서의 여백 조정 */
    }

 }
  